In [2]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

In [3]:
# Read the CSV file from the Resources folder into a Pandas DataFrame

coffee_data = Path('GACTT_RESULTS_ANONYMIZED_v2.csv')
coffee_df = pd.DataFrame(pd.read_csv(coffee_data))

# Review the DataFrame
display(coffee_df.head())
display(coffee_df.sample(5))

,Submission ID,What is your age?,How many cups of coffee do you typically drink per day?,Where do you typically drink coffee?,Where do you typically drink coffee? (At home),Where do you typically drink coffee? (At the office),Where do you typically drink coffee? (On the go),Where do you typically drink coffee? (At a cafe),Where do you typically drink coffee? (None of these),How do you brew coffee at home?,...,Approximately how much have you spent on coffee equipment in the past 5 years?,Do you feel like you’re getting good value for your money with regards to your coffee equipment?,Gender,Gender (please specify),Education Level,Ethnicity/Race,Ethnicity/Race (please specify),Employment Status,Number of Children,Political Affiliation
0,gMR29l,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BkPN0e,25-34 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Pod/capsule machine (e.g. Keurig/Nespresso),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,W5G8jj,25-34 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bean-to-cup machine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4xWgGr,35-44 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coffee brewing machine (e.g. Mr. Coffee),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,QD27Q8,25-34 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Pour over,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Submission ID,What is your age?,How many cups of coffee do you typically drink per day?,Where do you typically drink coffee?,Where do you typically drink coffee? (At home),Where do you typically drink coffee? (At the office),Where do you typically drink coffee? (On the go),Where do you typically drink coffee? (At a cafe),Where do you typically drink coffee? (None of these),How do you brew coffee at home?,...,Approximately how much have you spent on coffee equipment in the past 5 years?,Do you feel like you’re getting good value for your money with regards to your coffee equipment?,Gender,Gender (please specify),Education Level,Ethnicity/Race,Ethnicity/Race (please specify),Employment Status,Number of Children,Political Affiliation
25,AlbYao,18-24 years old,2,"At the office, At home",True,True,False,False,False,"Pod/capsule machine (e.g. Keurig/Nespresso), F...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3927,42pdPB,25-34 years old,1,"At the office, At home",True,True,False,False,False,Other,...,$100-$300,Yes,Male,NaN,Bachelor's degree,Asian/Pacific Islander,NaN,Student,None,No affiliation
1329,rlrM9l,25-34 years old,2,"At home, At the office",True,True,False,False,False,"Pour over, Espresso",...,"More than $1,000",Yes,Male,NaN,Bachelor's degree,White/Caucasian,NaN,Employed full-time,None,No affiliation
2082,ylqBx6,45-54 years old,1,At home,True,False,False,False,False,Coffee brewing machine (e.g. Mr. Coffee),...,$20-$50,Yes,Female,NaN,Bachelor's degree,White/Caucasian,NaN,Employed full-time,NaN,NaN
1779,5dqADQ,25-34 years old,2,At home,True,False,False,False,False,"Pour over, Coffee brewing machine (e.g. Mr. Co...",...,$300-$500,Yes,Male,NaN,Bachelor's degree,White/Caucasian,NaN,Employed full-time,None,Independent

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [21]:
# Separate the data into labels and features
# Separate the y variable, the labels

y = credit_lending_df['loan_status']

# Separate the X variable, the features

X = credit_lending_df.drop(columns=['loan_status'])

In [22]:
y.value_counts()

0    75036
1     2500
Name: loan_status, dtype: int64

In [23]:
# Review the y variable Series
y[:10]

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: loan_status, dtype: int64

In [24]:
# Review the X variable DataFrame

X.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [25]:
# Check the balance of our target values

y.value_counts()

0    75036
1     2500
Name: loan_status, dtype: int64

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [26]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

In [27]:
# Split the data using train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    stratify=y,
                                                    # Assign a random_state of 1 to the function
                                                    random_state=1
                                                    )

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [28]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

In [29]:
# Instantiate the Logistic Regression model
data_training = LogisticRegression(solver='lbfgs',
                                   max_iter = 200,
                                   # Assign a random_state parameter of 1 to the model
                                   random_state=1
                                   )

# Fit the model using training data

regression_model = data_training.fit(X_train, y_train)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [30]:
# Make a prediction using the testing data

predict = data_training.predict(X_test)
prediction_df = pd.DataFrame({'Prediction': predict, 'Actual': y_test})
prediction_df

       Prediction  Actual
36831           0       0
75818           0       1
36563           0       0
13237           0       0
43292           0       0
...           ...     ...
38069           0       0
36892           0       0
5035            0       0
40821           0       0
35030           0       0

[19384 rows x 2 columns]

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [31]:
# Print the balanced_accuracy score of the model
balanced_accuracy_score(y_test, predict)

0.9442676901753825

In [32]:
# Generate a confusion matrix for the model
con_mx = confusion_matrix(y_test, predict)

con_mx_df = pd.DataFrame(con_mx, index=['Actual 0', 'Actual 1'],
                         columns=['Predicted 0', 'Predicted 1'])

con_mx_df

          Predicted 0  Predicted 1
Actual 0        18679           80
Actual 1           67          558

In [33]:
# Print the classification report for the model
target_names=['healthy loan', 'high-risk loan']
print(classification_report(y_test, predict, target_names=target_names))

                precision    recall  f1-score   support

  healthy loan       1.00      1.00      1.00     18759
high-risk loan       0.87      0.89      0.88       625

      accuracy                           0.99     19384
     macro avg       0.94      0.94      0.94     19384
  weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:**    In this case, due to the data, this model will be more effective at predicting healthy lones than high risk loans (the dataset contains more data for healthy loans). This could be due to oversampling healthy loans relative to high-risk loans. The model also indicates that it is able to predict the healthy loans with more precision, which of course is no surprise given the information a scentence ago. Overall the model was fairly accurate.

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [34]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

In [62]:
# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model

ros = RandomOverSampler(random_state=1)

# Fit the original training data to the random_oversampler model

X_resample, y_resample = ros.fit_resample(X, y)

In [63]:
y.value_counts()

0    75036
1     2500
Name: loan_status, dtype: int64

In [65]:
# Count the distinct values of the resampled labels data
y_resample.value_counts()

0    75036
1    75036
Name: loan_status, dtype: int64

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [69]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model

resampled_data_training = LogisticRegression(solver='lbfgs',
                                   max_iter = 200,
                                   # Assign a random_state parameter of 1 to the model
                                   random_state=1
                                   )


# Fit the model using the resampled training data

resampled_data_training.fit(X_resample, y_resample)

# Make a prediction using the testing data
resample_prediction = resampled_data_training.predict(X_test)
res_pred_df = pd.DataFrame({"Prediction": resample_prediction, "Actual": y_test})

res_pred_df

       Prediction  Actual
36831           0       0
75818           1       1
36563           0       0
13237           0       0
43292           0       0
...           ...     ...
38069           0       0
36892           0       0
5035            0       0
40821           0       0
35030           0       0

[19384 rows x 2 columns]

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [70]:
# Print the balanced_accuracy score of the model 
balanced_accuracy_score(y_test, resample_prediction)

0.9959744975744975

In [71]:
# Generate a confusion matrix for the model
con_mtx_2 = confusion_matrix(y_test, resample_prediction)

con_mtx_2_df = pd.DataFrame(
    con_mtx_2, index=['Actual 0', 'Actual 1'], 
    columns=['Predicted 0', 'Predicted 1']
)

con_mtx_2_df

          Predicted 0  Predicted 1
Actual 0        18668           91
Actual 1            2          623

In [72]:
# Print the classification report for the model
target_names_2 = ['healthy loan', 'high-risk loan']
print(classification_report(y_test, resample_prediction, target_names = target_names_2))

                precision    recall  f1-score   support

  healthy loan       1.00      1.00      1.00     18759
high-risk loan       0.87      1.00      0.93       625

      accuracy                           1.00     19384
     macro avg       0.94      1.00      0.96     19384
  weighted avg       1.00      1.00      1.00     19384

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** The f1 score for high risk loans has gone up dramatically, indiciating that this resampled data allowed for a more accurate prediction model. it is worth noting that the precision did not change, but the recall improved significantly. Ultimately this resampled model does fit better than the original model.